/ {
    chosen {
        zephyr,console = &usart3;
        zephyr,shell-uart = &usart3;
        zephyr,dtcm = &dtcm;
        zephyr,code-partition = &slot0_partition;
    };

    aliases {
        led0 = &user_led;
        button0 = &user_button;
    };
};

&flash0 {
    /* Set flash size to 128KB for STM32H750 */
    reg = <0x08000000 0x00020000>;
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
